.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 7px 7px;
    grid-template-areas:
      "Обо-мне Добро-пожаловать-на-сайт ."
      ". Алгоритм-лечения-заболеваний-человека ."
      ". Алгоритм-лечения-заболеваний-человека ."
      ". Алгоритм-лечения-заболеваний-человека ."
      ". Алгоритм-лечения-заболеваний-человека ."
      ". Алгоритм-лечения-заболеваний-человека .";
  }
  
  .Обо-мне { grid-area: Обо-мне; }
  
  .Добро-пожаловать-на-сайт { grid-area: Добро-пожаловать-на-сайт; }
  
  .Алгоритм-лечения-заболеваний-человека { grid-area: Алгоритм-лечения-заболеваний-человека; }
  